/* defining the global variables */

:root{
    --primaryColor:#e4346c;
    --backgroundColor:#6f8bc5;
    --secondaryColor:#c2405e;
}

/* main css */

body{
    margin: 0px;
}

.heading-group{
    /* display: inline-block; */
    /* margin-top: 180px; */
}

.top-section{
    background-color: var(--backgroundColor);
    color: var(--secondaryColor);
    /* height: 500px; */
    padding-top: 100px;
    text-align: center;
}

.heading{ 
    font-family: 'Courgette', cursive;
    margin: 0;
    font-size: 2.5em;
}
.heading3{
    font-family: 'Work Sans', sans-serif;
    margin: 15px;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.lappi{
    width:200px;
    position: absolute;
    margin-block-start: 50px;
    margin-left: -400px;
}
.globe{
    width: 200px;
    
}
.android{
    position: absolute;
    margin-block-start: -150px;
    margin-left: 200px;
    width:150px;
}

.img{
    margin-bottom: -10px;
}