:root{
    --textColor:#730a8d62;
    --bgColor:#eed9f4;
}
body{
    margin: 0px;
}
.heading_group{
    padding-top: 150px;
}

.top_section{
    background-color: var(--bgColor);
    color: var(--textColor);
    height:500px; 
    text-align: center;
}
.name{
    font-family:  'Alkatra', cursive;
    font-size: 50px;
    margin: 0px;
}
.bio{
    font-family: 'Katibeh', cursive;
    font-size: 40px;
    margin: 0px;
   
}
.mandala{
    height: 500px;
    width:250px;
} 
.img1{
    position: absolute;
    margin-inline-start: -780px;
    margin-block-start: -280px;
}
.img2{
    position: absolute;
    margin-inline-start: 530px;
    margin-block-start: -280px;
}